{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="tienda de accesorios, accesorios para mascotas" />
    <meta name="description"
        content="Descubre una amplia selección de accesorios para tu mascota, en nuestra tienda en línea." />
    <meta name="author"
        content="Maria Celeste Quiroga H, Maria Celeste Verduz, Facundo Di Pompo, Marta Vargas, Remigio Guerrero" />

    <title>Casa Campo</title>
    <!-- link CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <!-- link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <!-- Seccion navbar -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #e3f2fd">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.jpeg' %}" alt="Soy un logo" height="120"
                    class="logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alimentos">Alimentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acercade">Acerca de nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carrito">Carrito</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mi cuenta
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/login">Iniciar sesión</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/registro">Resgistrarse</a>
                            </li>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <br><br><br><br>
    <!-- Seccion footer -->
    <footer>
        <div class="footer-grid">
            <div class="logo">
                <img src="{% static 'img/logo.jpeg' %}" style="max-width: 20%" alt="Soy el Logo" />
                <p>CASA CAMPO</p>
            </div>
            <div class="social">
                <h5>Buscanos en Nuestras Redes Sociales</h5>
                <p>
                    <img src="{% static 'img/facebook.jpg' %}" style="max-width: 3%" alt="Logo facebook" /> <a
                        href="https://m.facebook.com/groups/863675708693839/?paipv=0&eav=AfY00-9UhOoAMMV57eZOBmC4HNAlGcYw3Nl7Tj2DDkxXhXKyOoERrkYLqFoAfSnWyPw">@casa
                        campo</a>
                </p>
                <p>
                    <img src="{% static 'img/ig.png' %}" style="max-width: 3%" alt="Logo Instagram" />casa-campo
                </p><br><br>
                <p>Copyright © 2023</p>
            </div>
            <div class="contact">
                <h5>Contacto</h5>
                <p>Av. Landajo 350 - Depto Cruz Alta</p>
                <p>Provincia Tucumán</p>
                <p>Tel.: 3814922047 - 3814138041</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>