{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
  <h1>CUIDADOS BÁSICOS PARA TUS MASCOTAS</h1>
  <div>
    <p>Son muchas las personas que quieren incorporar un animal de compañía a su vida. Es una buena decisión siempre que
      se le puedan ofrecer todos los cuidados que el animal elegido necesita para su bienestar. Por lo tanto, para poder
      valorar la idoneidad como tutor, hay que saber cuáles son esos cuidados básicos.
      En el siguiente artículo de ExpertoAnimal, en colaboración con iNetPet, repasamos qué tener en cuenta para una
      convivencia feliz y descubrimos, también, cómo las nuevas tecnologías pueden ayudarnos a cuidar de nuestro animal.
      Conoce los cuidados de los animales de compañía y descubre si puedes asumirlos antes de adoptar.</p>
  </div>

  <!-- Sección 2: Carruseles -->
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-4">
        <h3>Algunas Recomendaciones</h3>
        <!-- Carrusel de productos recomendados -->
        <div class="carrusel1">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button style="background-color: rgb(15, 15, 15)" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
              <button style="background-color: rgb(15, 15, 15)" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button style="background-color: rgb(15, 15, 15)" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/cuidados1.jpg' %}" class="d-block w-100" alt="Carrusel" />
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/reglamento.jpg' %}" class="d-block w-100" alt="carrusel" />
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/cuidadosgatos.jpg' %}" class="d-block w-100" alt="carrusel" />
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <h2>UN HOGAR ADECUADO</h2>
      <P>En primer lugar, es imprescindible que nuestro domicilio sea el adecuado para el animal que queremos
        incorporar. Por ejemplo, en un pequeño apartamento no será la mejor idea tener más de un gato, ya que, si no han
        crecido juntos, pueden surgir problemas ante la imposibilidad de disponer de espacios propios. Además, son
        animales que necesitan rascadores, lugares a los que subirse, sitios resguardados en los que esconderse, etc.
      </P>
      <P>Por otra parte, si optamos por la adopción de algún animal que requiera jaula, terrario o acuario, es
        fundamental que nos informemos para saber cuáles son las condiciones que deben cumplir estas instalaciones para
        poder mantener el bienestar animal.</P>
      <P>Aparte del hogar, hay que tener en cuenta el tiempo del que disponemos para sus cuidados. Evidentemente, nos
        ocupará más horas al día atender a un perro que a un pez de colores. Habrá que pensar también en soluciones,
        como una residencia, si alguna vez nos tenemos que ausentar.</P>
      <h2>LA MEJOR ALIMENTACION</h2>
      <p>Si de cuidados de las mascotas se trata, es fundamental recordar que cada especie tendrá unas necesidades
        nutricionales específicas que, además, es habitual que varíen a lo largo de su vida. No va a comer lo mismo un
        cachorro que un perro adulto ni un animal enfermo que uno sano. Por suerte, a la venta encontraremos alimentos
        aptos para todo tipo de animales.</p>
      <P>Para escoger el de mayor calidad lo primero es informarse sobre los requerimientos nutricionales de la especie
        en cuestión y así buscar el producto que mejor encaje. Por ejemplo, la comida de perros y de gatos, como ambos
        son carnívoros, tiene que basarse en la proteína de origen animal, que puede completarse con cereales,
        legumbres, verduras y frutas para obtener hidratos de carbono, vitaminas y minerales.</P>
      <P>En general, debemos buscar comida 100 % natural, sin azúcares ni conservantes artificiales. Es importante
        también tener localizados varios establecimientos tanto físicos como en línea donde sepamos que siempre podremos
        encontrar la comida predilecta de nuestro animal.</P>
      <h2>LA SOCIALIZACION Y LA EDUCACION</h2>
      <P>Tanto la educación como la socialización tienen que incluirse entre los cuidados de los animales de compañía.
        La socialización, que es el proceso por el que exponemos al animal a todo tipo de estímulos para que se
        acostumbre a ellos y no le generen estrés, es recomendable para cualquier especie. Incluso un hámster que no
        sale de casa debería acostumbrarse a nuestro manejo. Lógicamente, la educación no va a ser necesaria para este
        pequeño roedor, pero sí será recomendable para otras especies y por completo imprescindible si nos decantamos
        por adoptar un perro.</P>
      <h2>LA HIGIENE BASICA</h2>
      <p>Normalmente, podremos ocuparnos en casa de mantener la higiene de nuestro animal de compañía. Cepillados,
        cortes de uñas, limpieza de orejas, de dientes o baños son algunos de los cuidados básicos de higiene que
        deberemos implantar con la regularidad que nuestro animal necesite. En establecimientos especializados podremos
        encontrar todos los accesorios precisos, pero, en determinados casos, por ejemplo, si nuestro perro es demasiado
        grande como para lavarlo en la bañera de casa o queremos hacerle un corte de pelo concreto, tendremos que
        solicitar un servicio de peluquería canina.</p>
      <h2>EL CUIDADO DE LA SALUD</h2>
      <p>Por supuesto, dentro de los cuidados de las mascotas destacan los referidos al mantenimiento de su salud. Así,
        todos los animales tienen que acudir con regularidad al veterinario, por lo menos una vez al año y siempre que
        muestren signos compatibles con alguna enfermedad. También debemos estar preparados para imprevistos.</p>
      <p>Además, cada especie necesitará sus desparasitaciones internas y externas mensuales y sus vacunas. El
        veterinario nos recomendará las imprescindibles para nuestro animal. Por lo tanto, resulta fundamental que
        encontremos uno de confianza y que siempre tengamos a mano el teléfono de alguno de urgencias que trabaje fuera
        del horario laboral para poder atender cualquier emergencia.</p>
</main>

{% endblock %}