{% extends 'base.html' %}
{% load static %}
{% block content %}
  <br><br><br><br><br><br><br>

  <!-- Contenido de la página -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <!-- Imagen o video de la categoría -->
        <img src="{% static 'img/excellent.jpg' %}" alt="Categoría" class="img-fluid" width="500" />
      </div>
      <div class="col-md-6">
        <!-- Texto descriptivo de la categoría -->
        <h1>EXCELLENT</h1>
        <p>Excellent Gato Adulto Pollo Y Arroz es un alimento Premium para gatos adultos mayores de un año. Este
          alimento tiene ingredientes de alta calidad que permiten mantener un pH adecuado en la orina que contribuye a
          impedir la formación de cálculos y cristales. Tiene una relación adecuada de proteínas y calorías,
          disminuyendo la masa corporal grasa, evitando los efectos del sobrepeso.</p>
      </div>
    </div>
    <!-- Formulario para agregar comentarios -->
    <div class="row mt-4">
      <div class="col-md-12">
        <h2>Agregar Comentario</h2>
        <form>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="" />
          </div>
          <div class="form-group">
            <label for="comentario">Comentario:</label>
            <textarea class="form-control" id="comentario" rows="4" placeholder=""></textarea>
          </div>
          <button type="submit" class="btn btn-info mt-2">Enviar Comentario</button>
        </form>
      </div>
    </div>
    <!-- Visualización de comentarios -->
    <div class="row mt-4 mb-4">
      <div class="col-md-12">
        <h2>Comentarios</h2>
        <ul class="list-group">
          <!-- Comentario 1 -->
          <li class="list-group-item">
            <strong>Usuario 1:</strong> Excelente producto.
          </li>
          <!-- Comentario 2 -->
          <li class="list-group-item">
            <strong>Usuario 2:</strong> Muy buena calidad.
          </li>
          <!-- Comentario 3 -->
          <li class="list-group-item">
            <strong>Usuario 3:</strong> No me gustó mucho, esperaba algo diferente.
          </li>
          <!-- Comentario 4 -->
          <li class="list-group-item">
            <strong>Usuario 4:</strong> La relación precio-calidad, me pareció excelente.
          </li>
          <!-- Comentario 5 -->
          <li class="list-group-item">
            <strong>Usuario 5:</strong> Lo recomiendo.
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% endblock %}