/* Seccion navbar */
.logo {
  border-radius: 20%;
}
main,
footer {
  position: absolute;
  top: 150px;
}
main {
  margin-bottom: 20px;
}
form {
  width: 300px;
}

.navbar-nav li:hover {
  background-color: #0dcaf0;
  border-radius: 10px;
}

/* Estilo para el texto de los elementos del navbar en hover */
.navbar-nav li:hover a {
  color: #030303;
}
/* Seccion main */
/* Imagen-principal */
.Publicidad {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1em;
}
.imagen-principal {
  grid-column: span 3;
  grid-column-start: 8;
  width: 450px;
}
.Parrafo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.h1 {
  text-decoration: none;
  color: black;
}

.subtitulo{
  text-align: center;
  color: #013a45;
}

.p {
  color: black;
}

.titulo-segunda-seccion {
  margin-left: 90px;
}

.contenedor-carrusel {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: 1em;
  margin-right: 90px;
  margin-left: 90px;
}

/* Seccion main */
.titulo {
  text-align: center;
  background-color: #ffffff;
  font-size: 3vw;
  color: #64a1af;
}

.contenedor {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: medium;
  height: 1px;
  grid-template-columns: repeat(4, 1fr);
}

/*style para cel*/
@media (max-width: 767px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
}
/* Stile para tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor {
    grid-template-columns: repeat(2, 1fr); /* Mostrar dos columnas */
  }
}

/* Estilos para escritorio */
@media screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr); /* Mostrar tres columnas */
  }
}

/* Seccion footer */
footer {
  background-color: #9bdeec;
  color: #fff;
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.logo,
.social,
.contact {
  text-align: center;
  color: rgb(11, 11, 11);
}

.logo img {
  max-width: 100%;
}

.social img,
.contact img {
  max-width: 3%;
}

/* Estilos para celular */
@media screen and (max-width: 767px) {
  .footer-grid {
    grid-template-columns: 1fr; /* Mostrar una columna */
  }
  footer {
    position: absolute;
    top: 7000px;
  }
}

/* Estilos para tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr); /* Mostrar dos columnas */
  }
  footer {
    position: absolute;
    top: 2700px;
  }
}

/* Estilos para escritorio */
@media screen and (min-width: 1024px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr); /* Mostrar tres columnas */
  }
  footer {
    position: absolute;
    top: 1250px;
  }
}
